<h1>New User</h1>

<%= form_for @user, html: { multipart: true } do |form| %>
  <%= form.text_field :fname, placeholder: "Fname" %>
  <%= form.text_field :lname, placeholder: "Lname" %>
  <%= form.file_field :avatar %>
  <%= form.submit %>
<% end %>
