<!-- this view corresponds to the UsersController, index action -->
Color: <%= @colors[1] %>

<!-- loops thru each user and display their first and last name -->
<ul>
  <% @users.each do |u| %>
    <li>
      <!-- displays user email address -->
      <strong>Email</strong>: <%= u.email %><br />

      <!-- displays user first name -->
      <strong>Fname</strong>: <%= u.fname %><br />

      <!-- displays user last name -->
      <strong>Lname</strong>: <%= u.lname %><br />

      <!-- diplays a link to the users show page -->
      <!--
        when clicking this link, this will create
          a GET request to the /users/:id url
          which corresponds to the the UsersController, show action
      -->
      <%= link_to("Show", user_path(u)) %>
      <%= link_to("Edit", edit_user_path(u)) %>
      <%= link_to("Delete", user_path(u), method: :delete) %>
    </li>
  <% end %>
</ul>
